p {
  font-size: 26px;
  color: olive;
}

header {
  background-color: orange;
}

footer {
  background-color: lightcoral;
}

a {
  color: darkblue;
  background-color: peachpuff;
  text-decoration: none;
}

a:link {
  color: pink;
}

a:visited {
  color: yellow;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  border: 3px solid red;
}

#education {
  border: 3px solid red;
}

#education h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

#skills-list {
  background-color: aliceblue;
  padding: 36px;
}

.top-skill {
  font-weight: bold;
  background-color: teal;
  color: papayawhip;
}

.date {
  border: 2px solid steelblue;
  border-radius: 12px;
  padding: 6px;
}

.special {
  text-transform: uppercase;
  background-color: papayawhip;
}

#proud {
  font-size: 48px;
}

header p {
  background-color: snow;
  border-bottom: 1px solid gray;
}

ol li {
  letter-spacing: 3px;
  color: tomato;
}

ol:first-child {
  font-weight: bold;
}

ul li {
  list-style: none;
}
